@CHARSET "UTF-8";

p, td, th {
	font-size:0.8em;
}

table {word-break:break-all;word-wrap:break-word;}
.datatable {
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
	width: 100%;
	
}
.datatable td {
	border: 1px solid #D6DDE6;	
	padding: 4px;
}
.datatable th {
	border: 1px solid #828282;
	background-color: #BCBCBC;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
}
.datatable caption {
	font: bold 0.9em Arial, Helvetica, sans-serif;
	color: #33517A;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
}
.datatable tr.altrow {
	background-color: #DFE7F2;
	color: #000000;
}
