<!DOCTYPE html>
<!-- Server: sfs-consume-1 -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>-->
<html>
<head>
	<title>Similarity-Tools</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<link rel="stylesheet" href="./css/sf.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="./css/style.css" media="all">
   <link rel="stylesheet" type="text/css" href="./css/global.css" media="all">        
   <link rel="stylesheet" type="text/css" href="./css/sfx.css" media="all">
   <link href="./css/css.css" rel="stylesheet" type="text/css">
</head>


<body id="pg_index" class="">
   <!--[if IE 7]><div id="ie7only"><![endif]-->
    <!--[if IE 6]><div id="ie6only"><![endif]-->
    <!--[if IE]><div id="ieonly"><![endif]-->
    
	<div style="display: none;" id="busy-spinner"></div>
	
	<header id="site-header">
    <div class="wrapper">
        <a href="/" class="logo">
            <span>DRAMP</span>
        </a>
        <form method="get" action="/directory/">
            <input id="words" name="q" placeholder="Search" type="text">
        </form>
        <!--Switch to {language}-->
        <nav id="nav-site">
            <a href="http://sourceforge.net/directory/" title="Browse our software.">Browse</a>
            <a href="http://sourceforge.net/directory/enterprise" title="Browse our Enterprise software.">Statistics</a>
            <a href="http://sourceforge.net/blog/" title="Read the latest news from the SF HQ.">DownLoads</a>
            <a href="http://sourceforge.net/support" title="Contact us for help and feedback.">Help</a>
            <a href="http://sourceforge.net/jobs?source=header" title="Search 80k+ tech jobs." class="featured-link">QuickLink</a>
        </nav>
        <nav id="nav-account">
              <div class="logged_out">
                <a href="https://sourceforge.net/account/login.php">Log In</a>
                <span>or</span>
                <a href="https://sourceforge.net/user/registration">Join</a>
              </div>
        </nav>
    </div>
	</header>
	
	<header id="site-sec-header">
    <div class="wrapper">
        <nav id="nav-hubs">
            <h4>Solution Tools ：</h4>
            
        </nav>
        <nav id="nav-collateral"> 
        		<a href="http://goparallel.sourceforge.net/">Similarity Search</a>
            <a href="http://ibmsmarteritservices.sourceforge.net/">Prediction</a>   
            <a href="https://sourceforge.net/user/registration">Sequence Alignment</a>
            <a href="">Cd-Search</a>
        </nav>
    </div>
	</header>

</body>
</html>