/* CSS Document */
.post p {
	font-size:13px; 
	line-height:1.3;
	margin-bottom:10px;
}
.item1 {
	color:#000;
	font-size:14px;
	padding-top:8px;
	font:15px;
	padding-left:8px;
	width:152px;
	height:30px;
	background-color:#CCC;
}
.item2 {
	padding-left:8px;
	width:250px;
}
.item2 input {
	height:18px; width:90%; 
}
.item2 select {
	height:22px; width:92%;
}
.item2 textarea {
	resize:none;
	width:90%;
	font-family: Arial, Helvetica, sans-serif;
}
.item3 {

}
.item4 {
	padding-left:8px;
}
.btn_reset,.btn_smt{
	font:16px;
	color:#000;
}
.btn_smt {
	margin-left:90px;
}
/**************************res_show****************************/
#show_hide{
	margin:0px 30px;
	padding:0;
}
	
#td{
	float:left;	
}